[submodule "test/external_tools/Catch2"] 
  path = test/external_tools/Catch2 
  url = https://github.com/catchorg/Catch2.git
[submodule "external_tools/spdlog"] 
  path = external_tools/spdlog 
  url = https://github.com/gabime/spdlog.git

